h5py
ibm-cloud-sdk-core
ibm-platform-services
ipykernel
ipython
ipywidgets
matplotlib
PyQt5
PyYAML
qiskit==2.3.1
qiskit-aer
qiskit-algorithms
qiskit-ibm-runtime
qutip
scikit-learn
scipy
seaborn
torch
tqdm
wheel
